[package]
name = "typst-ansi-hl"
version = "0.1.0"
edition = "2021"
authors = ["frozolotl <frozolotl@protonmail.com>"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bat = { version = "0.24.0", default-features = false, features = ["regex-fancy"] }
clap = { version = "4.4.18", features = ["derive"] }
color-eyre = "0.6.2"
termcolor = "1.4.1"
typst-syntax = { git = "https://github.com/typst/typst", tag = "v0.10.0" }
